@model IEnumerable<Ensciens.Models.Bureau>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
            </th>
            <th class="text-center col-sm-2">
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center ">
                <img width ="80" height ="80" src="@Url.Content(""+ item.Logo)" alt ="Logo"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
